/WorkflowDBApp/build/
/WorkflowDBApp/.gradle/
/WorkflowDBApp/.settings/
/WorkflowDBApp/.classpath
/WorkflowDBApp/bin/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
/workflowUI/node_modules/